:root {
    --bg-main: rgb(247, 247, 247);
    --bg-notif: rgb(247, 247, 247);
    --accent-1: rgb(233, 233, 233);
    --accent-2: rgb(218, 218, 218);
    --color: rgb(92, 92, 92);
    --color-notif: black;
    --fill-fastnav-stack: #4F56DA;
    --fill-fastnav-route: #4F87EC;
    --close-x-color: rgb(92, 92, 92);

    --blue: #4285F4;
}