<!-- Modal -->
<div class="modal fade" id="modalOvStops" tabindex="-1" role="dialog" aria-labelledby="modalOvStopsTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content bd-radius">
            <div class="modal-header">
                <h5 class="modal-title txt-modern" id="modalOvStopsTitle">Busdoorkomsten</h5>
                <button type="button" class="close d-flex align-items-center justify-content-center" data-dismiss="modal" aria-label="Close">
                    <i class="material-icons">close</i>
                </button>
            </div>
            <div class="modal-body p-0">
                <div id="carouselOvStops" class="carousel slide h-100" data-ride="carousel" data-interval="false" data-touch="true">
                    <div class="carousel-inner h-100" data-interval="false">
                        <div class="carousel-item active h-100" data-interval="false" style="padding: 1rem;">
                            {% assign stops = site.ov-stops | sort:"title" %}
                            {% for stop in stops %}
                                <a class="d-flex justify-content-between ovStop clickable" onclick="ovStop({{ stop.ov-number }},{{ stop.show-outcome }},'{{ stop.title }}','{{ stop.direction }}');$('#carouselOvStops').carousel('next')">
                                    <span class="ovName fontw-600 uppc lspacing-1">{{ stop.title }}</span><span class="ovDirection ml-3 text-right">{{ stop.direction }}</span>
                                </a>
                            {% endfor %}
                        </div>
                        <div class="carousel-item p-0 h-100" data-interval="false">
                            <div class="d-flex flex-row" style="padding: 1rem;">
                                <i id="backModalBussen" class="material-icons clickable" onclick="$('#carouselOvStops').carousel('prev')">arrow_back</i><h5 id="ovStopName" class="mb-0 ml-3"></h5><div id="ovStopDirection" class="d-none"></div>
                            </div>
                            <iframe id="ovResultFrame" class="w-100" style="height: calc(100% - 56px)" src="" frameborder="0"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button id="btnBusModalBeta" type="button" class="btn bg-color-main" data-toggle="modal" data-target="#modalOvStops">
        <i class="material-icons mr-0">directions_bus</i>
</button>