<!--<nav class="navbar navbar-expand-lg w-100 fixed-top">
    <div class="container">
        <a class="navbar-brand uppc d-flex flex-row align-items-center" href="{{ site.baseurl }}/.">
          <img src="{{ site.baseurl }}/assets/images/logo-haegepoorters-white.svg" class="mr-3" alt="Logo Haegepoorters" height="40px">
          <p class="mb-0">Haegepoorters<br>Destelbergen</p>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Onze groep</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">De leiding</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Haegeprekerke</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Gallerij</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Meer
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">HP Rénove</a>
                <a class="dropdown-item" href="#">HP for live</a>
              </div>
            </li>
          </ul>
        </div>
    </div>
</nav> -->

<style>
    .nav-item > a[href$="{{ page.url }}"] {
        position: relative !important;
        color: black !important;
        font-weight: bolder !important;
    }

    /* .nav-item > a[href$="{{ page.url }}"]::after {
        position: absolute !important;
        bottom: -1px !important;
        left: 50% !important;
        height: 7px !important;
        width: 7px !important;
        border-radius: 120px !important;
        background-color: var(--primary) !important;
    } */
</style>