:root {
    --shadow: 0 2px 2px 0 rgba(0,0,0,0.16);

    --bd-radius: 8px;

    --version-number: 'v4.5.3';

    --font-main: 'Product sans';
    --font-3: 'Roboto Condensed', sans-serif;
}

/* SCROLL EFFECT

.wrapper {
    scroll-snap-type: y proximity;
}

.wrapper .item {
    scroll-margin: 10px;
    scroll-snap-align: start;
    scroll-snap-stop: normal;
}

*/

/* THEMES */

[data-theme*="dark"] {
    --accent-main: #4285F4;
    --accent-1: #3E4041;
    --accent-2: #2F3132;
    --accent-2-dark: #222222;
    --txt-color: white;
    --icons: white;
    --searchbar-color: #e0e0e0;
    --settings-bg-color: #222222;
}

[data-theme*="light"] {
    --accent-main: #4285F4;
    --accent-1: #F7F7F7;
    --accent-2: #E9E9E9;
    --accent-2-dark: #DADADA;
    --txt-color: #5c5c5c;
    --icons: #5c5c5c;
    --searchbar-color: #5c5c5c;
    --settings-bg-color: #222222;
}

[data-theme*="green"] {
    --accent-main: #4285F4;
    --accent-1: #8BC34A;
    --accent-2: #a4ce74;
    --accent-2-dark: #8db165;
    --txt-color: #ffffff;
    --icons: #ffffff;
    --searchbar-color: #5c5c5c;
    --settings-bg-color: #222222;
}

/* ******* */

*, *:hover {
    transition: 0.35s all ease;
}

a, a:hover {
    text-decoration: none;
    color: inherit
}

html#theme-doesnt-exists {
    background-color: #2F3132;
    height: 100%;
}

html:not(#theme-doesnt-exists) {
    background-color: var(--bg-main);
    height: 100%;
}

body {
    position: relative;
    height: 100%;
    margin: 0px;
    overflow: hidden;
}

#theme-dialog.toggle-active + .site-content {
    border-radius: var(--bd-radius);
    transform: scale(0.93) translateY(-10px);
    box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    filter: brightness(90%);
    background-color: white;
}

.site-content {
    position: relative;
    height: 100vh;
    margin: 0px;
    /* background-image: url(../images/background_blur.png); */
    background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Product sans';
}

.collapse .card.card-body, .collapse, .collapsing {
    border-radius: var(--bd-radius);
    border: none !important;
}

p {
    margin: 0px;
}

a {
    color: unset;
    text-decoration: none;
    width: fit-content;
    border-bottom: 2px solid #4285F4;
}

img {
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: none;
}

*:focus, *:focus-within {
    outline: none !important;
    box-shadow: none !important;
}

p {
    font-family: 'Roboto';
}

.txt-modern {
    font-family: 'Product sans';
    letter-spacing: 2px;
    text-transform: uppercase;
}

.bg-color-blue {
    background-color: var(--blue);
}

.font-3 {
    font-family: var(--font-3) !important;
}

.clickable {
    cursor: pointer;
}

/****************************************************************/

/* BUTTON */
.btn:not([class*="toggle"]) {
    font-family: var(--font-main);
    color: white;
    font-weight: 700;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px;
    border-radius: 120px;
    min-width: fit-content;
    display: inline-flex;
    align-content: center;
    align-items: center;
    user-select: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);


    &:hover {
        color: white;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
    }

    svg, .material-icons, .button [class*="cls"] {
        fill: white;
        height: 23px;
        margin-right: 9px;
        transition: 0.2s ease-in-out;
        transition-delay: 0ms;
    }

    &.small {
        padding: 2px 6px;
        text-transform: lowercase;
        letter-spacing: 0px;
        font-weight: 200;
        font-size: 13px;
    }
}

/* SECTIONS */
#fastnav {
    height: 30vh;
    background: var(--accent-1);

    .track {
        background: var(--accent-2);
        height: fit-content;
        border-radius: 120px;

        .btn:not(#btnBusModalBeta) {
            border-radius: 120px;
            box-shadow: none;
            color: var(--txt-color);

            &:hover {
                background: var(--accent-2-dark);
                box-shadow: none;
            }
        }

        #btnBusModalBeta {
            background: var(--accent-main);
        }
    }

    svg {
        height: 28px;
        margin: 10px;
        fill: var(--icons);
    }
}

#searchbox {
    position: relative;
    height: 40vh;
    background: var(--accent-2);

    &:focus, :focus-within {
        background: var(--accent-2-dark);
    }

    &:hover {
        background: var(--accent-2-dark);
    }

    #searchfield1 {
        background: none;
        border: none;
        width: 100%;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        font-family: 'Product sans';
        font-size: 5rem;
        text-align: center;
        letter-spacing: 2px;
        outline: none;
        color: var(--searchbar-color);

        &::placeholder {
            color: var(--txt-color);
            user-select: none;
        }
    }

    img {
        position: absolute;
        top: -50px;
        left: 50%;
        transform: translateX(-50px);
        background-color: var(--accent-1);
        border-radius: 120px;
        cursor: pointer;
    }
}

#shortcuts {
    height: 30vh;
    background: var(--accent-1);
    overflow: scroll;
    scroll-snap-type: x proximity;

    &::-webkit-scrollbar {
        display: none;
    }

    .btn {
        margin-right: 12px;

        scroll-margin: 10px;
        scroll-snap-align: start;
        scroll-snap-stop: normal;

        &:last-child {
            margin: 0px;
        }
    }
}

#collapseCorner {
    position: fixed;
    right: 20px;
    bottom: 20px;
    max-width: 250px;

    #collapseMore, #collapseMore:focus, #collapseMore:focus-within {
        color: var(--color);
        overflow: hidden;
        border: none;
        border-radius: var(--bd-radius);
        max-height: calc(85vh - 20px - 44px - 16px);
        overflow-y: scroll;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2) !important;

        .card {
            background: var(--accent-2);
        }

        *:not(button) {
            color: var(--txt-color);
        }
    }
}

/* VERSION */
.version {
    margin-top: 10px;
    color: grey;
    font-family: 'Product sans';

    &::before {
        content: var(--version-number)
    }
}

.version::after {
    content: 'beta'
}

/* MEDIA QUERY */

// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { ... }

@media (max-width: 768px) {
    #btnBusModalBeta {
        position: fixed;
        left: 20px;
        bottom: 20px;
    }
}

// Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }

/* CSS ANIMATIONS */
    @keyframes modalBussenOpen {
        from {height: 0vh;}
        to {height: 100vh;}
    }

    @keyframes modalBussenClose {
        from {height: 100vh;}
        to {height: 0vh;}
    }

