.btn {
    width: fit-content;
    white-space: nowrap;
    background-color: #5050bf;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 80%;
}